.comments {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 0 0 25px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.show {
    border: .025rem solid #fff;
    padding: 10px 25px;
}