.menuIconWrapper {
    cursor: pointer;
    position: relative;
    z-index: 500;
}

@media (min-width: 768px) {
    .menuIconWrapper {
        display: none;
    }
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    top: -5000px;
    z-index: 450;
}

.nav_visible {
    top: 0;
    left: 0;
    background: var(--transparent-primary-500);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(.075em);
}

.link:hover {
    color: var(--accent);
}

@media (min-width: 768px) {
    .nav {
        position: static;
        flex-direction: row;
    }
}