* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

body * {
    color: var(--secondary);
    transition: var(--transition);
}

a {
    text-decoration: none;
}

input,
textarea {
    border: none;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

button,
input,
textarea {
    background: none;
    font-size: inherit;
    font-family: inherit;
}

a,
input,
textarea {
    color: inherit;
}

li {
    list-style: none;
}
