:root {
    --primary: #050505;
    --secondary: #f5f5f5;
    --accent: #f05555;
    --wrong: #ff0000;

    --transparent-primary-500: #05050550;
    --transparent-secondary-500: #f5f5f550;

    --transition: 250ms all linear;
}